.chole-bhature{
    text-align: center;
    border: 3px solid black;
    width: 20%;
    margin: 10px auto;
    background-color: thistle;
}
.dosa{
    text-align: center;
    border: 3px solid black;
    width: 20%;
    margin: 10px auto;
    background-color: thistle;
}
.butter-chicken{
    text-align: center;
    border: 3px solid black;
    width: 20%;
    margin: 10px auto;
    background-color: thistle;
}
.rajma-chawal{
    text-align: center;
    border: 3px solid black;
    width: 20%;
    margin: 10px auto;
    background-color: thistle;
}
.image-a{
    border: 4px solid black;
    margin-top: 10px;
     margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.image-b{
    border: 4px solid black;
    margin-top: 10px;
     margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.image-c{
    border: 4px solid black;
    margin-top: 10px;
     margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.image-d{
    border: 4px solid black;
    margin-top: 10px;
     margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.parents-indian{
    display: flex;
}
.burger{
    text-align: center;
    border: 3px solid black;
    width: 20%;
    margin: 10px auto;
    background-color: darkred;
}
.french-fries{
    text-align: center;
    border: 3px solid black;
    width: 20%;
    margin: 10px auto;
    background-color: darkred;
}
.pizza{
    text-align: center;
    border: 3px solid black;
    width: 20%;
    margin: 10px auto;
    background-color: darkred;
}
.fried-chicken{
    text-align: center;
    border: 3px solid black;
    width: 20%;
    margin: 10px auto;
    background-color: darkred;
}
.image-e{
    border: 4px solid black;
    margin-top: 10px;
     margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.image-f{
    border: 4px solid black;
    margin-top: 10px;
     margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.image-g{
    border: 4px solid black;
    margin-top: 10px;
     margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.image-h{
    border: 4px solid black;
    margin-top: 10px;
     margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.parents-fast-food{
    display: flex;
}